In [1]:
from __future__ import print_function 
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from tqdm import trange, tqdm
import pickle

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (5, 5)

%load_ext autoreload
%autoreload 2

In [2]:
from hackathon.utils.utils import *
from hackathon.utils.draw_utils import *
import pandas as pd

In [3]:
test_data = parse_data("../data/test_data.csv")

In [4]:
test_data.shape

(4344, 81)

In [5]:
x_columns = filter(lambda x: "NPWD" not in x 
                   and 'ut_ms' not in x, test_data.columns)
x_columns

['sunmars_km',
 'earthmars_km',
 'sunmarsearthangle_deg',
 'solarconstantmars',
 'eclipseduration_min',
 'occultationduration_min',
 'sa',
 'sx',
 'sy',
 'sz',
 'dmop_count_24h_AAAA',
 'dmop_count_24h_AACF',
 'dmop_count_24h_ADMC',
 'dmop_count_24h_AHHH',
 'dmop_count_24h_AMMM',
 'dmop_count_24h_AOOO',
 'dmop_count_24h_APSF',
 'dmop_count_24h_APWF',
 'dmop_count_24h_ASEQ',
 'dmop_count_24h_ASSS',
 'dmop_count_24h_ASXX',
 'dmop_count_24h_ATMB',
 'dmop_count_24h_ATTT',
 'dmop_count_24h_AVVV',
 'dmop_count_24h_AXXX',
 'dmop_count_24h_sum',
 'flagcomms',
 'EARTH',
 'SLEW',
 'NADIR',
 'MAINTENANCE',
 'INERTIAL',
 'ACROSS_TRACK',
 'WARMUP',
 'D1PVMC',
 'RADIO_SCIENCE',
 'SPECULAR',
 'D4PNPO',
 'D3POCM',
 'D2PLND',
 'D5PPHB',
 'D7PLTS',
 'D8PLTP',
 'SPOT',
 'D9PSPO',
 'usbx',
 'usby',
 'usbz']

In [6]:
y_columns = filter(lambda x: "NPWD"  in x, test_data.columns)
y_columns

['NPWD2372',
 'NPWD2401',
 'NPWD2402',
 'NPWD2451',
 'NPWD2471',
 'NPWD2472',
 'NPWD2481',
 'NPWD2482',
 'NPWD2491',
 'NPWD2501',
 'NPWD2531',
 'NPWD2532',
 'NPWD2551',
 'NPWD2552',
 'NPWD2561',
 'NPWD2562',
 'NPWD2691',
 'NPWD2692',
 'NPWD2721',
 'NPWD2722',
 'NPWD2742',
 'NPWD2771',
 'NPWD2791',
 'NPWD2792',
 'NPWD2801',
 'NPWD2802',
 'NPWD2821',
 'NPWD2851',
 'NPWD2852',
 'NPWD2871',
 'NPWD2872',
 'NPWD2881',
 'NPWD2882']

In [7]:
X_test = test_data[x_columns]

In [8]:
test_data[y_columns].head()

,NPWD2372,NPWD2401,NPWD2402,NPWD2451,NPWD2471,NPWD2472,NPWD2481,NPWD2482,NPWD2491,NPWD2501,...,NPWD2792,NPWD2801,NPWD2802,NPWD2821,NPWD2851,NPWD2852,NPWD2871,NPWD2872,NPWD2881,NPWD2882
ut_ms,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN